In [1]:
import pandas as pd
import lxml as lxml
import numpy as np
import html5lib as ht
from pandas.io.html import read_html

In [2]:
pl1 = 'https://www.moneycontrol.com/financials/interglobeaviation/profit-lossVI/IA04/#IA04'
pl2 = 'https://www.moneycontrol.com/financials/interglobeaviation/profit-lossVI/IA04/2#IA04'
#pl3 = 'https://www.moneycontrol.com/financials/interglobeaviation/profit-lossVI/IA04/3#IA04'

In [3]:
p1 = read_html(pl1,  attrs={"class":"mctable1"}, index_col=0, header=0)
p1 = pd.DataFrame(p1[0])
p2 = read_html(pl2,  attrs={"class":"mctable1"}, index_col=0, header=0)
p2 = pd.DataFrame(p2[0])
#p3 = read_html(pl3,  attrs={"class":"mctable1"}, index_col=0, header=0)
#p3 = pd.DataFrame(p3[0])

In [4]:
index = p1.index.name

In [5]:

p = p1.merge(p2, on = index)
#p = pt.merge(p3, on = index)
p.head()

,Mar 19,Mar 18,Mar 17,Mar 16,Mar 15,Unnamed: 6,Mar 14,Mar 13,Mar 12,Mar 11,Unnamed: 5
Profit & Loss account of Interglobe Aviation (in Rs. Cr.),,,,,,,,,,,
NaN,12 mths,12 mths,12 mths,12 mths,12 mths,NaN,12 mths,12 mths,12 mths,12 mths,NaN
INCOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Revenue From Operations [Gross],28165.22,22500.52,18440.07,16042.49,13925.34,NaN,11116.58,9203.13,5564.66,3833.42,NaN
Less: Excise/Sevice Tax/Other Levies,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0.00,0.00,0.00,NaN
Revenue From Operations [Net],28165.22,22500.52,18440.07,16042.49,13925.34,NaN,11116.58,9203.13,5564.66,3833.42,NaN

In [6]:
p= p.drop(p.columns[[5,-1]], axis = 1)
p = p.drop([p1.index[0]])
p = p.replace(np.nan, "")
p = p.sort_index(axis=1 ,ascending=True)
p = p.convert_objects(convert_numeric=True)
type(p1)

C:\Users\krrish\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """

pandas.core.frame.DataFrame

In [9]:
corr = p.T.corr()
r =  corr.iat[1,1]
corr = corr.replace(to_replace = r, value = int(.001))
exp  = corr.idxmax(axis=1)

In [11]:
corr.to_excel(r"C:\Users\krrish\Desktop\downloads\corrr.xlsx")

In [26]:
cent = (p/p.shift(periods=1, axis='columns'))-1
p.head()

,Mar 11,Mar 12,Mar 13,Mar 14,Mar 15,Mar 16,Mar 17,Mar 18,Mar 19
Profit & Loss account of Interglobe Aviation (in Rs. Cr.),,,,,,,,,
INCOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Revenue From Operations [Gross],3833.42,5564.66,9203.13,11116.58,13925.34,16042.49,18440.07,22500.52,28165.22
Less: Excise/Sevice Tax/Other Levies,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Revenue From Operations [Net],3833.42,5564.66,9203.13,11116.58,13925.34,16042.49,18440.07,22500.52,28165.22
Total Operating Revenues,3833.42,5564.66,9203.13,11116.58,13925.34,16139.91,18580.50,23020.89,28496.77

In [27]:
cent.head()

,Mar 11,Mar 12,Mar 13,Mar 14,Mar 15,Mar 16,Mar 17,Mar 18,Mar 19
Profit & Loss account of Interglobe Aviation (in Rs. Cr.),,,,,,,,,
INCOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Revenue From Operations [Gross],NaN,0.451618,0.653853,0.207913,0.252664,0.152036,0.149452,0.220197,0.251759
Less: Excise/Sevice Tax/Other Levies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Revenue From Operations [Net],NaN,0.451618,0.653853,0.207913,0.252664,0.152036,0.149452,0.220197,0.251759
Total Operating Revenues,NaN,0.451618,0.653853,0.207913,0.252664,0.159032,0.151215,0.238981,0.237866

In [28]:
cent.T.describe()

Profit & Loss account of Interglobe Aviation (in Rs. Cr.),INCOME,Revenue From Operations [Gross],Less: Excise/Sevice Tax/Other Levies,Revenue From Operations [Net],Total Operating Revenues,Other Income,Total Revenue,EXPENSES,Cost Of Materials Consumed,Operating And Direct Expenses,...,"VALUE OF IMPORTED AND INDIGENIOUS RAW MATERIALS STORES, SPARES AND LOOSE TOOLS",Imported Raw Materials,Indigenous Raw Materials,"STORES, SPARES AND LOOSE TOOLS",Imported Stores And Spares,Indigenous Stores And Spares,DIVIDEND AND DIVIDEND PERCENTAGE,Equity Share Dividend,Tax On Dividend,Equity Dividend Rate (%)
count,0.0,8.000000,0.0,8.000000,8.000000,8.000000,8.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.000000,8.000000,8.000000
mean,NaN,0.292436,NaN,0.292436,0.294143,0.370608,0.296542,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf,inf,inf
std,NaN,0.173912,NaN,0.173912,0.172477,0.150022,0.169633,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,0.149452,NaN,0.149452,0.151215,0.199970,0.162986,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.000000,-1.000000,-1.000000
25%,NaN,0.193944,NaN,0.193944,0.195693,0.287619,0.199017,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.584318,-0.583869,-0.856985
50%,NaN,0.235978,NaN,0.235978,0.238423,0.318139,0.240818,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.145262,-0.108608,-0.239181
75%,NaN,0.302402,NaN,0.302402,0.302402,0.432429,0.301293,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.415903,1.524659,1.414837
max,NaN,0.653853,NaN,0.653853,0.653853,0.646985,0.653680,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf,inf,inf